n8n_workflows/workflow2_weekly_sync_final.json
{
  "name": "Postiz Weekly Queue Sync & Low Inventory Alert",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 0" }] } },
      "id": "3e380f42-7a8a-4050-94fe-f23fe650fbe4",
      "name": "Every Sunday 11:00 SAST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "list",
        "useQueryString": true,
        "queryString": "'1Bc6E-_w1fo_yi5gvbyAS7BDUZ5qLL4Pp' in parents and mimeType contains 'video/'",
        "options": {}
      },
      "id": "56e146d9-f040-4656-810b-47f6366f361e",
      "name": "List Drive Videos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [208, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LivgyKYRPWgHP5Cs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sheetId": "1tlR_MCm-sSmD4w59TV5AWf-rRx35tERR45zF2QGP2NU",
        "range": "A1:E1000",
        "options": {}
      },
      "id": "509c103c-5bea-4d2f-bf25-071b1634d4a6",
      "name": "Read Current Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [208, 208],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T6qcURDR55EzrkB3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveItems = $input.all();\nconst queueItems = $('Read Current Queue').all();\n\nconst trackedIds = new Set();\nfor (const row of queueItems) {\n  const d = row.json;\n  if (d.drive_file_id) trackedIds.add(d.drive_file_id);\n}\n\nconst results = [];\nfor (const item of driveItems) {\n  const file = item.json;\n  if (!trackedIds.has(file.id)) {\n    results.push({\n      file_name: file.name,\n      drive_file_id: file.id,\n      status: 'new'\n    });\n  }\n}\n\nlet availableCount = 0;\nfor (const row of queueItems) {\n  if (row.json.status === 'new') availableCount++;\n}\navailableCount += results.length;\n\nif (results.length === 0) {\n  return [{\n    new_files_count: 0,\n    available_count: availableCount,\n    low_inventory: availableCount < 7,\n    total_tracked: trackedIds.size\n  }];\n}\n\nreturn results.map(r => ({\n  ...r,\n  new_files_count: results.length,\n  available_count: availableCount,\n  low_inventory: availableCount < 7,\n  total_tracked: trackedIds.size + results.length\n}));"
      },
      "id": "08f97195-7e3d-4a93-b988-408f962198e0",
      "name": "Sync Queue Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            { "id": "047540f9-cbd1-4bb0-9425-49a3384f80f9", "leftValue": "={{ $json.new_files_count }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40b2fa44-8217-4429-90d4-3959dcd349f3",
      "name": "New Videos Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [608, 112]
    },
    {
      "parameters": { "jsCode": "return $input.all();" },
      "id": "3691709a-ce31-4a88-8b49-a5b70724dc85",
      "name": "Passthrough",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 208]
    },
    {
      "parameters": {
        "sheetId": "1tlR_MCm-sSmD4w59TV5AWf-rRx35tERR45zF2QGP2NU",
        "range": "C2:C1000",
        "options": {}
      },
      "id": "747dd7ce-83b8-454a-87c7-539e7a9d95e3",
      "name": "Count Statuses",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1008, 208],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T6qcURDR55EzrkB3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nlet newCount = 0;\nlet doneCount = 0;\nlet failedCount = 0;\nlet processingCount = 0;\n\nfor (const row of rows) {\n  const status = (row.json.status || '').toLowerCase();\n  if (status === 'new') newCount++;\n  else if (status === 'done') doneCount++;\n  else if (status === 'failed') failedCount++;\n  else if (status === 'processing') processingCount++;\n}\n\nreturn [{\n  new_count: newCount,\n  done_count: doneCount,\n  failed_count: failedCount,\n  processing_count: processingCount,\n  total: newCount + doneCount + failedCount + processingCount,\n  low_inventory: newCount < 7\n}];"
      },
      "id": "2dd4c2a8-390c-4818-bb7e-1d75884af9cd",
      "name": "Compute Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 208]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "id": "af668c41", "leftValue": "={{ $json.low_inventory }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }
        },
        "options": {}
      },
      "id": "a2165868-a26d-42b2-b8ae-9ff074fc6477",
      "name": "Below Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1408, 208]
    },
    {
      "parameters": {
        "text": "=⚠️ **Low Inventory Alert!**\n\n📊 Queue Status:\n• 🆕 **{{ $json.new_count }}** new videos remaining\n• ✅ {{ $json.done_count }} already posted\n• ❌ {{ $json.failed_count }} failed\n\n🔴 Only **{{ $json.new_count }}** videos left — upload more!\n\nUpload new videos to:\nhttps://drive.google.com/drive/u/2/folders/1Bc6E-_w1fo_yi5gvbyAS7BDUZ5qLL4Pp",
        "options": {}
      },
      "id": "bf407f9b-2be4-4e33-9207-315e095726d6",
      "name": "Send Low Inventory Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1600, 112],
      "credentials": {
        "discordWebhookApi": {
          "id": "loeSAvsxpNbun8Ah",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "text": "=📊 **Weekly Queue Report**\n\nQueue is healthy! 👍\n\n• 🆕 **{{ $json.new_count }}** videos available\n• ✅ {{ $json.done_count }} posted\n• ❌ {{ $json.failed_count }} failed\n• 📦 {{ $json.total }} total tracked\n\nNext post: Tomorrow at 19:00 SAST",
        "options": {}
      },
      "id": "e8109af3-c184-4d72-90fd-d3c2cb7221c2",
      "name": "Send Healthy Report",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1600, 304],
      "credentials": {
        "discordWebhookApi": {
          "id": "loeSAvsxpNbun8Ah",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tlR_MCm-sSmD4w59TV5AWf-rRx35tERR45zF2QGP2NU",
          "mode": "list",
          "cachedResultName": "Postiz Video Queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlR_MCm-sSmD4w59TV5AWf-rRx35tERR45zF2QGP2NU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlR_MCm-sSmD4w59TV5AWf-rRx35tERR45zF2QGP2NU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_name": "={{ $json.file_name }}",
            "drive_file_id": "={{ $json.drive_file_id }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "file_name", "displayName": "file_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "drive_file_id", "displayName": "drive_file_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "processed_date", "displayName": "processed_date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "error_message", "displayName": "error_message", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [800, 32],
      "id": "ab5ee1f2-a52f-4372-940a-b4e3af8e36a3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T6qcURDR55EzrkB3",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Every Sunday 11:00 SAST": { "main": [[{ "node": "Read Current Queue", "type": "main", "index": 0 }]] },
    "Read Current Queue": { "main": [[{ "node": "List Drive Videos", "type": "main", "index": 0 }]] },
    "List Drive Videos": { "main": [[{ "node": "Sync Queue Logic", "type": "main", "index": 0 }]] },
    "Sync Queue Logic": { "main": [[{ "node": "New Videos Found?", "type": "main", "index": 0 }]] },
    "New Videos Found?": { "main": [[{ "node": "Append row in sheet", "type": "main", "index": 0 }], [{ "node": "Passthrough", "type": "main", "index": 0 }]] },
    "Append row in sheet": { "main": [[{ "node": "Count Statuses", "type": "main", "index": 0 }]] },
    "Passthrough": { "main": [[{ "node": "Count Statuses", "type": "main", "index": 0 }]] },
    "Count Statuses": { "main": [[{ "node": "Compute Inventory", "type": "main", "index": 0 }]] },
    "Compute Inventory": { "main": [[{ "node": "Below Threshold?", "type": "main", "index": 0 }]] },
    "Below Threshold?": { "main": [[{ "node": "Send Low Inventory Alert", "type": "main", "index": 0 }], [{ "node": "Send Healthy Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "versionId": "419539ae-139e-4a71-a56e-29596e55a806",
  "id": "34Fsiaw78YATJN2x",
  "tags": []
}
